<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil</title>
  <%- include('partials/header') %>

</head>
<body>


                <div class="card-body py-80 px-32 text-center">
                    <img src="/images/error-img.png" alt="" class="mb-24">
                    <h6 class="mb-16">Pagina no encontrada</h6>
                    <p class="text-secondary-light">Lo sentimos, parece que la pagina que estas buscando no se encuentra </p>
                    <a href="/" class="btn btn-primary-600 radius-8 px-20 py-11">Regresar</a>
                </div>


</body>
</html> 