<footer class="d-footer">
  <div class="row align-items-center justify-content-between">
      <div class="col-auto">
          <p class="mb-0">© 2025 - Universidad Nacional Casimiro Sotelo Montenegro.</p>
      </div>
      <div class="col-auto">
          <p class="mb-0">Hecho por: <span class="text-primary-600"><b>CondegaStudio_App</b> Powered by: Financiera Juanchi</span></p>
      </div>
  </div>
</footer>
  