
<aside class="sidebar">
    <button type="button" class="sidebar-close-btn">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="/" class="sidebar-logo">
            <img src="/images/logosidebar.png" alt="site logo" class="light-logo">
            <img src="/images/logosidebar.png" alt="site logo" class="dark-logo">
            <img src="/images/logosidebar.png" alt="site logo" class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:home-smile-angle-outline" class="menu-icon"></iconify-icon>
                    <span>General</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="/perfil"><i class="ri-circle-fill circle-icon text-success-main w-auto"></i> Perfil del usuario</a>
                    </li>
                    <li>
                        <a href="/auth/login"><i class="ri-circle-fill circle-icon text-success-main w-auto"></i>Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="/historial/personal"><i class="ri-circle-fill circle-icon text-success-main w-auto"></i>Historial</a>
                    </li>
                    <li>
                        <a href="/service/notification"><i class="ri-circle-fill circle-icon text-success-main w-auto"></i>Notificaciones</a>
                    </li>

                    <li>
                        <a href="/admin"><i class="ri-circle-fill circle-icon text-success-main w-auto"></i>Usuarios Administrador</a>
                    </li>
        </ul>
        </ul>
    </div>
</aside>